
@{
    ViewBag.Title = "Commencement Online";
}

<h2>Commencement Online</h2>

<div class="row">
    <div class="col-md-12">
        <p>This is my first attempt at embedding streaming video into a web page like this, and since I can't actually test it until 20 minutes before commencement starts, chances are it won't work. However I'll try it anyway, and if it doesn't work, you can check out UCO's official streaming instructions <a href="http://www.uco.edu/commencement.asp">Here</a> to find out how to watch the video on your computer.</p>
    </div>
    <video width="320" height="240" controls>
        <source src="http://stream.uco.edu/iPhone/broadcast/commencement.mp4.m3u8" type="video/mp4">
        Whoops, it doesn't look like your browser supports streaming. Try taking a look at the link mentioned above for other streaming options.
    </video>
</div>
