
@{
    ViewBag.Title = "Directions";
}

<h2>Directions</h2>

<div class="row">
    <div class="col-sm-3">
        <div class="alert alert-success">
            Hamilton Field House,<br />
            Edmond, OK 73034
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>You can find google maps directions from several different locations below. Clicking on the "View Larger Map" link below each map will open the map in google maps along with step by step directions.</p>
    </div>
</div>
<fieldset>
    <legend>19th and Eastern in Moore</legend>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=S+Eastern+Ave+%26+SE+19th+St,+Moore,+Cleveland,+Oklahoma+73160&amp;daddr=35.656738,-97.4750321+to:35.6588439,-97.4742178+to:Hamilton+Field+House,+Edmond,+OK+73034&amp;hl=en&amp;geocode=FdTvGgIdgJ8w-ikfK2lo2WqyhzG7L_LFauJw_w%3BFSIUIAIdKKYw-il5yNGwth-yhzGCcOWKEWP7AQ%3BFVscIAIdV6kw-ilZcE9fth-yhzFZBjdl0PnwUg%3BFYkhIAIdMbQw-ilDp0-Ttx-yhzGP1-ZFmplLYQ&amp;aq=&amp;sll=35.65897,-97.468214&amp;sspn=0.010618,0.021136&amp;t=h&amp;mra=dvme&amp;mrsp=2&amp;sz=16&amp;via=1,2&amp;ie=UTF8&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=S+Eastern+Ave+%26+SE+19th+St,+Moore,+Cleveland,+Oklahoma+73160&amp;daddr=35.656738,-97.4750321+to:35.6588439,-97.4742178+to:Hamilton+Field+House,+Edmond,+OK+73034&amp;hl=en&amp;geocode=FdTvGgIdgJ8w-ikfK2lo2WqyhzG7L_LFauJw_w%3BFSIUIAIdKKYw-il5yNGwth-yhzGCcOWKEWP7AQ%3BFVscIAIdV6kw-ilZcE9fth-yhzFZBjdl0PnwUg%3BFYkhIAIdMbQw-ilDp0-Ttx-yhzGP1-ZFmplLYQ&amp;aq=&amp;sll=35.65897,-97.468214&amp;sspn=0.010618,0.021136&amp;t=h&amp;mra=dvme&amp;mrsp=2&amp;sz=16&amp;via=1,2&amp;ie=UTF8&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>134th and Choctaw Road</legend>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=134th+and+Choctaw+Road&amp;daddr=35.6556833,-97.4750333+to:Hamilton+Field+House,+Edmond,+OK+73034&amp;hl=en&amp;geocode=FcsmGwIdyNoz-imz75_UCUiyhzHanD829-Wswg%3BFQMQIAIdJ6Yw-im5v-dFsR-yhzFYPwBcu3ow-w%3BFYkhIAIdMbQw-ilDp0-Ttx-yhzGP1-ZFmplLYQ&amp;aq=&amp;sll=35.654324,-97.474941&amp;sspn=0.005309,0.010568&amp;t=h&amp;mra=dvme&amp;mrsp=1&amp;sz=17&amp;via=1&amp;ie=UTF8&amp;z=16&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=134th+and+Choctaw+Road&amp;daddr=35.6556833,-97.4750333+to:Hamilton+Field+House,+Edmond,+OK+73034&amp;hl=en&amp;geocode=FcsmGwIdyNoz-imz75_UCUiyhzHanD829-Wswg%3BFQMQIAIdJ6Yw-im5v-dFsR-yhzFYPwBcu3ow-w%3BFYkhIAIdMbQw-ilDp0-Ttx-yhzGP1-ZFmplLYQ&amp;aq=&amp;sll=35.654324,-97.474941&amp;sspn=0.005309,0.010568&amp;t=h&amp;mra=dvme&amp;mrsp=1&amp;sz=17&amp;via=1&amp;ie=UTF8&amp;z=16" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>44th and Council</legend>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=SW+44th+St&amp;daddr=35.4129232,-97.651935+to:35.654402,-97.4750174+to:Hamilton+Field+House,+Edmond,+OK+73034&amp;hl=en&amp;geocode=FRJ6HAIdqest-g%3BFbtbHAIdIfMt-inbf28Pfw6yhzENeo2Ui3lP8g%3BFQILIAIdN6Yw-ikpPHxpsR-yhzGMxWuze4ItZQ%3BFYkhIAIdMbQw-ilDp0-Ttx-yhzGP1-ZFmplLYQ&amp;aq=&amp;sll=35.655143,-97.474447&amp;sspn=0.005309,0.010568&amp;t=h&amp;mra=dpe&amp;mrsp=2&amp;sz=17&amp;via=1,2&amp;ie=UTF8&amp;z=16&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=SW+44th+St&amp;daddr=35.4129232,-97.651935+to:35.654402,-97.4750174+to:Hamilton+Field+House,+Edmond,+OK+73034&amp;hl=en&amp;geocode=FRJ6HAIdqest-g%3BFbtbHAIdIfMt-inbf28Pfw6yhzENeo2Ui3lP8g%3BFQILIAIdN6Yw-ikpPHxpsR-yhzGMxWuze4ItZQ%3BFYkhIAIdMbQw-ilDp0-Ttx-yhzGP1-ZFmplLYQ&amp;aq=&amp;sll=35.655143,-97.474447&amp;sspn=0.005309,0.010568&amp;t=h&amp;mra=dpe&amp;mrsp=2&amp;sz=17&amp;via=1,2&amp;ie=UTF8&amp;z=16" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>
    </div>
</fieldset>